.verification-icon-holder {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
  width: 60%;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
}

.info {
  text-align: center;
  display: inline-block;
  font-size: 0.9rem;
  padding: 5px;
}

.sender {
  color: rgb(36, 36, 36);
}

.subject {
  color: rgb(223, 31, 31);
}

.date {
  color: #c0c0c0;
  font-size: 0.9rem;
}
