.name-holder {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .welcome-info {
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
  
  .success-display {
    margin: 10px 0;
  }
  
  .skip-btn:hover {
    color: #9b27af;
  }
  