.header {
  background-color: #9b27af;
  height: 200px;
  width: 100%;
  color: #ffffff;
}

.header .name {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 0.7rem;
}
.header .email {
  font-size: 0.7rem;
}

.top-info {
  box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.05);
  background-color: white;
  display: flex;
  flex-direction: row;
}

.top-info span {
  font-size: 0.7rem;
  color: #464855;
  margin: 3px;
}

.title {
  font-size: 1.5rem;
}

.text-field {
  background-color: #a94dbd;
  border: 1px solid #d0d0d0;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.holder {
  padding: 10px;
}

.perform-btn {
  width: 89%;
  font-size: 0.6rem;
}

.verify {
  background-color: #ff8811;
}

.btn:hover {
  opacity: 0.6;
}

.qr-date {
  color: #dcdcdc;
  font-size: 0.7rem;
  text-align: center;
}

.qr-code {
  color: #9b27af;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
}

.qr-notice {
  text-align: center;
  font-size: 0.8rem;
}
