main {
  box-sizing: border-box;
}
.container {
  background-color: #9b27af;
  min-height: 100vh;
  color: white;
}

.top-name {
  font-weight: bold;
  font-size: 16px;
}

.sign-header {
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.link-line {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  cursor: pointer;
}

.link {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.phone {
  font-size: 16px;
}

.link:hover {
  opacity: 0.5;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-input {
  background-color: #a94dbd;
  border: 0;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.form-input input:focus {
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

a {
  color: white;
}

.form-button {
  cursor: pointer;
  color: #9b27af;
  text-align: center;
  padding: 7px;
  width: 100%;
  border-radius: 30px;
  background-color: white;
  border: 0;
}

.form-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.alert {
  width: 100%;
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
}

.error {
  background-color: indianred;
}
