.counter-title {
  font-size: 0.7rem;
  margin-top: 3px;
}

.counter-border {
  border-bottom: 1px solid #c5c3c5;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.counter-count {
  font-weight: 500;
  font-size: 1.3rem;
}

.counter-description {
  margin-top: 3px;
  font-size: 0.5rem;
  text-align: center;
}
