.top-image {
  width: 100%;
  height: 200px;
  content: "";
  background-image: url("/assets/topimage.jpg");
  background-position: top;
  background-size: cover;
}

.info-wrapper {
  padding: 10px;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
}

.info-content {
  margin-top: 10px;
  color: black;
  text-align: center;
}
