.quick-action {
  margin: 5px;
  border-radius: 10px;
  box-shadow: none;
  width: 100%;
  color: #ffffff;
  font-size: 0.5rem;
  cursor: pointer;
}

.quick-action:hover {
  opacity: 0.6;
}

.quick-button {
  padding: 3px 6px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  font-size: 0.5rem;
}
