.explainer {
  text-align: center;
  max-width: 260px;
}

.phrase {
  text-align: center;
}

.holder {
  padding: 10px;
}

.timer-holder {
  position: relative;
  width: 80px;
  height: 80px;
}

.timer-time {
  text-align: center;
  line-height: 80px;
  display: block;
  font-weight: bold;
}

.success {
  color: #7cb342;
}

.failure {
  color: #ff6245;
}
